body
{ 
	margin: 0;
	font-size: 17px;
	background-color: #303030;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Lato', sans-serif;
	width:100%;
	min-width:600px;
	max-width:2000px;

}


#container
{
	margin-left: auto;
	margin-right: auto;
}

.logo
{
	background-color: #303030;
	color: white;
	text-align: center;
	padding: 15px;
}

nav
{
	color: black;
	background-color: rgb(41, 187, 148);
	width: auto;
	min-height: 20px;
	padding: 10px;
	text-align: center;
	margin-bottom: 40px;
}

.menu
{
	list-style-type: none;
	margin: 0;
	padding: 10px;
	font-size: 18px;
	min-height: 38px;
	line-height: 200%;
	
}

.menu > li
{
	display: inline-block;
	padding-left: 20px;
	padding-right: 20px;
	border-right: 1px dashed #303030;
}

.menu > li:first-child
{
	border-left: 1px dashed #303030;
}
#content
{
	float:left;
	color: white;
	background-color: #303030;
	padding: 20px;
	text-align: center;
	margin-left: 320px;
	margin-right: 320px;
}

.square
{
	width: 50%;
	float: left;
	display: inline-block;
}

#add
{
	float:right;
	color: #303030;
	width: 186px;
	min-height: 800px;
	background-color: #303030;
}

.stopka 
{
	color: white;
	text-align: center;
	padding: 20px;
	background-color: #191d21;
	clear: both;
}

.stopka1
{
	color: white;
	text-align: center;
	padding: 20px;
	background-color: #191d21;
}

.fb
{
	float:left;
	background-color: #3557a2;
	font-size: 20px;
	width: 70px;
	height: 70px;
	padding: 10px;

}

.fb:hover
{
	background-color: #2446a1;
}

a.containerlink{
	color: white;
	text-decoration: none;
}

a.navlink{
	color: black;
	text-decoration: none;
}

a.fblink{
	color: white;
	display: block;
	text-decoration: none;
	width: 50px;
	height: 70px;
}

.scrollup
{
	width: 64px;
	height: 64px;
	text-decoration: none;
	background: url("../img/Up.png") no-repeat 0px 0px;
	position: fixed;
	right: 50px;
	bottom: 50px;
	display: none;
}

h2
{
	font-size: 27px;
}
h4
{
	font-size: 16px;
}

#formularz 
{
	color: white;
	text-align: center;
	padding: 20px;
	background-color: #191d21;
	font-size: 27px;
}
.row
{
	margin: 20px 10px;
}
img
{
	text-align: center;
	margin: auto;
}
p 
{
	text-align: left;
}
.lewastrona
{
	text-align: left;
	margin-left: 200px;
	
}
.map .background 
{position: absolute; top: 0; right: 0; bottom: 0; left: 0; z-index: 1};

.map .countries>li 
{position: absolute; top: 0; right: 0; left: 0; bottom: 0; z-index: 2; margin: 0; padding: 0; background: transparent none no-repeat 0 0; text-indent: -9999em};

.map .countries>.albania {background-image: url('../images/countries/europe/albania.png')}

.map .countries>.andorra {background-image: url('../images/countries/europe/andorra.png')}

.map .countries>.austria {background-image: url('../images/countries/europe/austria.png')}

.map .countries>li.hover {background-position: -920px 0}
